.description { 
    padding-bottom: 2%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  .skillSection h3 { 
    padding-top: 15%;
    color: black;
  }

  .skillSection h4 { 
    padding-top: 5%;
    font-style: italic;
  }
