.iconImage {
    width: 150px;
    height: 150px;
    border: 2px solid #284B63; 
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }